* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.people {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 200px);
  row-gap: 40px;
  column-gap: 30px;
  padding: 30px 35px;
  justify-content: center;

  @media (min-width: 1000px) {
    --columns: 4;
  }
}

.person {
  padding: 10px 10px 16px;
  margin: -10px -10px -16px;
  position: relative;
  border-radius: 10px;
  transition: transform 1s;
  cursor: pointer;
  &__photo {
    position: relative;
  }
  &__image {
    width: 100%;
    border-radius: 50%;
    transition: border-radius 1s;
  }
  &__rank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    font-size: 16px;
    font-weight: 700;
    color: #8B0000;
  }
  &__name {
    display: block;
    text-align: center;
    font-style: 20px;
    font-weight: 700;
    color: #2F4F4F;
    margin-top: 0;
  }
  &__extra {
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    padding: 9px 10px 16px;
    background-color: #EEEEEE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-size: 18px;
  }
  &__sport::after {
    content: ',';
  }
  &__pay::before {
    content: '$';
  }
  &__pay::after {
    content: 'M';
  }
  &:hover {
    background-color: #EEEEEE;
    transform: scale(1.2);
    z-index: 1;
  }
  &:hover &__extra {
    display: block;
  }
  &:hover &__image {
    border-radius: 60px;
  }
}
